<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap >
  <div id="users" fxFlex="40" fxFlexOrder.xs="2"  >
    <app-users fxFlex.xs="100"
    (selected)="userReceived($event)"
    ></app-users>
  </div>

  <div fxFlex="60%" fxFlexOrder.xs="1" class="contentMessages">
  <div fxFlex="50%"  *ngIf="selectedUser" >{{selectedUser.username}}</div>
    <div fxFlex="100" fxFlexOrder.xs="10" fxFlexOrder="1" class="messages">
    <app-message [messages]="messageList" [other]="selectedUser"></app-message>
      <!--<div class="message" *ngFor="let message of messages">{{message.text}}</div>-->
   
    </div>
    <form 
      [formGroup]="messageForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="write your message" formControlName="massageText"
          (keyup)="onKey($event)">
        </mat-form-field>
    </form>

  
</div>