.contentMessages{

}
.messages{
    background-color: rgb(229, 216, 241);
    margin: 20px;
    height: 420px;
     flex-grow: 1;
  overflow: auto;
}


.currrent-user{
    color: #253c93;
	text-decoration: none;
    border-bottom: 1px dotted #253c93;
    font-size:30;
}

  .example-full-width {
    background-color: rgb(236, 233, 230);
    height: 60px;
    margin: 0px 10px;
    width: 98%;
  }