<mat-toolbar color="primary">
  <span>Chat application</span>
 
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="!(isAuth$ | async)">
     <a routerLink="/signup" [routerLinkActive]="['active']">Signup</a>
       |
  </span>

  <span *ngIf="!(isAuth$ | async)">
     <a routerLink="/login" [routerLinkActive]="['active']">Login</a>
  </span>
  <span *ngIf="(isAuth$ | async)">
     <a style="cursor: pointer" (click)="onLogout()">Logout</a>
  </span>
</mat-toolbar>